.footer-container {
    width: 100%;
    margin-top: 4rem;
    padding: 1.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid #e0e0e0;
}

.footer-container p {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
}
