.gallery {
    padding: 0 1.5rem 3rem;
}

.gallery-grid {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

p {
    font-weight: 400;
    color: #111;
}