header {
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #111;
}